 
* {
    box-sizing: border-box;
}
html {
    touch-action: manipulation;
}
body {
     
   
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin: 0;
    
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

:focus {
    outline: 0
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.sidebar{
    webkit-box-shadow: 1px 0 3px rgb(0 0 0 / 30%);
    -khtml-box-shadow: 1px 0 3px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 0 3px rgba(0,0,0,.3);
    -ms-box-shadow: 1px 0 3px rgba(0,0,0,.3);
    -o-box-shadow: 1px 0 3px rgba(0,0,0,.3);
    box-shadow: 1px 0 3px rgb(0 0 0 / 30%);
    -webkit-transition: width .7s cubic-bezier(.15,.99,.18,1.01) 0s;
    -khtml-transition: width .7s cubic-bezier(.15,.99,.18,1.01) 0s;
    -moz-transition: width .7s cubic-bezier(.15,.99,.18,1.01) 0s;
    -ms-transition: width .7s cubic-bezier(.15,.99,.18,1.01) 0s;
    -o-transition: width .7s cubic-bezier(.15,.99,.18,1.01) 0s;
    transition: width .7s cubic-bezier(.15,.99,.18,1.01) 0s;
    background: #212223;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    transition: all .2s ease-out;
    left: -100%;
}
.sidebar.visible-mobile {
    left: 0;
    width: 100%;
}
.button{
    border: 1px solid #999;
    border-radius: 3px;
    display: inline-block;
    padding: 10px;
}
.navigation{
    top: 0;
    width: 100%;
    z-index: 1500;
    position: absolute;
    bottom: 0;
}
.navigation .main-tab {
    overflow: hidden;
    margin-bottom: 0;
}
.navigation .main-tab li {
    width: 50%;
    background-color: #141414;
    color: #fff;
    cursor: pointer;
    float: left;
}
.navigation .main-tab li.active {
    background-color: #212223 !important;
}
.navigation .main-tab li a {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    height: 74.28571px;
    line-height: 74.28571px;
}
.navigation .main-tab li.active {
    background: #fff;
}
.navigation .main-tab li.accountinfo {
    padding-right: 58px;
}
.navigation .main-tab li.nav-close {
    width: 0;
}
.navigation .icon-close-left-panel {
    display: block;
    position: absolute;
    top: 11px;
    right: 0;
    height: 51.42857px;
    border-radius: 30px 0 0 30px;
    padding: 8px 8px 8px 14px;
    background-color: #bababa;
    font-size: 33px;
    color: #ededed;
    z-index: 99;
}
.icon-close:before {
    content: "X";
}
.navigation .icon-close-left-panel:before {
    position: relative;
    top: 2px;
}
.main-tab{

}

.mainmenu-container {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 74.28571px;
    right: 0;
    bottom: 0;
}
#main-menu-items {
    margin-bottom: 0;
}
.mainmenu-container .menu-item {
    position: relative;
    color: #ededed;
    font-weight: 600;
    padding: 0;
    background-color: #141414;
}
.mainmenu-container .menu-item>a {
    cursor: pointer;
    color: #919191;
    display: table;
    white-space: nowrap;
    text-decoration: none;

    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    min-height: 3rem;
    background: transparent;
    padding: 22.85714px 11.42857px 22.85714px 25.71429px
}
.pull-left {
    float: left !important;
}
.mainmenu-container .menu-item .icon {
    line-height: 0;
    width: 16px;
    position: relative;
    left: 1px;
    font-size: 22.85714px;
    margin-right: 25.71429px;
    top: 2px;
    color: #919191;
}
.mainmenu-container .menu-item .icon-arrow-right {
    -webkit-transform: rotate(0);
    -khtml-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    font-size: 16px;
    position: relative;
    top: 2px;
    -webkit-transition: transform .3s ease-out;
    -khtml-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out;
    transition: transform .3s ease-out;
    font-size: 22.85714px;
}
.icon-arrow-right:before {
    content: ">";
}
.pull-right {
    float: right !important;
}